<div class = "mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <p>Something went wrong. I apologize.</p>
    <p>
      Click here to go <a href = "/">home</a>
    </p>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
