<div class = "mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <p>Something went wrong. I apologize.</p>
    <p>
      Here's a cat to make it all better.
      <img src = "http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr01/15/9/anigif_enhanced-buzz-31540-1381844535-8.gif" />
    </p>
    <p>
      Click here to go <a href = "/">home</a>
    </p>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
