<div>
  <form>
    <input text = "text" placeholder = "username" name = "username"></input><br>
    <input text = "text" placeholder = "password" name = "password"></input>
    <input type = "submit" value = "login"></input>
  </form>
</div>
